# Git metadata
.git
.github
.gitignore

# demos
demos/__pycache__
demos/Results_*/
demos/TransportPlansPOT

# Python & Jupyter caches
*.pyc
.ipynb_checkpoints/

# macOS / OS metadata
.DS_Store
Thumbs.db